awscli==1.44.53
boto3==1.42.63
ipywidgets==8.1.8
langchain-text-splitters
markdown==3.10.2
orjson==3.11.7
opencv-python-headless
pandas
strands-agents==1.32.0
strands-agents[openai]
strands-agents-tools==0.2.23
streamlit==1.54.0